{% extends 'base.html' %} {% block title %}{{title}}{% endblock %} 
{% load static %}
{% load util %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock %}
{% block content%}
<section style="padding-top: 1rem;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4>{{house}}</h4>
                <p class="text-muted">{{house.city}} - {{house.address}}</p>
            </div>
            <div class="col-md-6">
                <div style="display: flex; align-items: center; justify-content: end;">
                    <img style=" background-color: #27374D; margin-right: 1rem; border-radius: 60%;" src="{% static 'images/profile.png' %}" width="40px" height="40px" alt="profile">
                    <div>
                        <p style="margin-bottom: 0;">{{house.customer}}</p>
                        <p class="text-muted" style="margin-bottom: 0; font-size: small; ">Proprietário</p>
                    </div>
                </div>
        </div>
    </div>
    {% if has_many_medias %}
    <div class="row" id="image-container">
        <div class="col-md-8">
            <div style="display: flex; ">
                <img style="flex: 1;" id="detail-image"  src="{{house|get_property_image}}" alt="">
            </div>
        </div>
        <div class="col-md-4" >
                <div>
                    <img id="detail-image"  src="{{house|get_property_second_image}}" alt="">
                </div>
        </div>
    </div>
    {% else %}
    <div class="row" id="image-container" style="display: flex; justify-content: center;">
        <div class="col-md-10">
            <div style="display: flex; ">
                <img style="flex: 1;" id="detail-image"  src="{{house|get_property_image}}" alt="">
            </div>
        </div>
    </div>
    {% endif %}
    <hr style="margin: 1rem;">
    <div class="row" style="display: flex; align-items: center;">
        <div class="col-md-6">
            <h5>Descrição:</h5>
            <p style="font-size: small;">{{house.description}}</p>
        </div>
        <div class="col-md-6" style="display: flex; justify-content: space-around;">
            <div class="property-container" style="width: 35%;">
                <p>{{house.rooms}} quarto(s)</p>
                <p>{{house.bathrooms}} banheiros(s)</p>
            </div>
            <div class="property-container" style="width: 35%;">
                <p>{{house.suites}} suite(s)</p>
                <p>{{house.area}} m²</p>
            </div>
        </div>
    </div>
    <br>
    <div class="row" style="display: flex; align-items: center;">
        <div class="col-md-5">
            <div class="property-container">
                <h5>Oferece:</h5>
                {% if house.garage %}
                <p>Garagem</p>
                {% endif %}
                {% if house.backyard %}
                <p>Quintal</p>
                {% endif %}
                {% if house.pool%}
                <p>Piscina</p>
                {% endif %}
            </div>
        </div>
        <div class="col-md-7"></div>
    </div>
</div>
<br>
</section>
{% endblock %}