{% extends 'base.html' %} {% block title %}{{title}}{% endblock %} 
{% load static %}
{% load util %}
{% block extrahead %} 
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block content%} 
    <div id="main-poster" >
        <div id="main-poster-title">
            <h4>Gerencie e anuncie seu imóvel </h4>
                <br />
            <h4>da melhor forma</h4>
            <br />
            <div id="main-poster-btn">
                <a href="/customer" id="main-poster-button" class="btn btn-primary">Acesse suas propriedades</a>
            </div>
        </div>
    </div>
    <section>
        <br>
        <div class="container">
            <h2 class="lead" id="section-main-title">ENCONTRE SUA CASA PARA MORAR</h2>
            <hr />
        </div>
        <div class="container" id="section-nav">
                <form action="" method="get" id="section-search-form">
                    <input type="text" name="q" id="section-search-input" placeholder="Pesquisar imóvel"/>
                    <button type="submit" id="section-search-btn"><i class="bi bi-search"></i></button>
                </form>
                <a class="seemore-link" href="#">
                    <div id="section-nav-filter">
                        <span>Ver mais</span>
                    </div>
                </a>
            </div>
        </div>
        <br>
        <div class="trending-carrousel">
            {% for House in houses %}
            {% if House.vacant == True%}
            <a class="card-link" href="{% url 'house_detail' House.id %}">
                <div class="card">
                    <img class="card-image" src="{{House|get_property_image}}" alt="img-card">  
                    <p class="card-title">{{House.city}}</p>
                    <p class="card-subtitle">Casa</p>
                    <div class="card-info">
                        <img src="{% static 'images/image 6.png' %}" alt="" class="card-icon">
                        <p class="card-text">{{House.rooms}}</p>
                        <i class="bi bi-rulers"></i>
                        <p class="card-text">{{House.area}}m²</p>
                    </div>
                    <p class="card-text" style="margin-top: 5px;"><strong>R$ {{House.base_price}}</strong> por mês</p>
                </div>
            </a>
            {% endif %}
            <br>
            {% endfor %}
        </div>
        <div class="container">
            <h2 class="lead" id="section-main-title">OU SEU NOVO APARTAMENTO</h2>
            <hr />
        </div>
        <div class="container" id="section-nav">
            <form action="" method="get" id="section-search-form">
                <input type="text" name="q" id="section-search-input" placeholder="Pesquisar imóvel"/>
                <button type="submit" id="section-search-btn"><i class="bi bi-search"></i></button>
            </form>
            <a class="seemore-link" href="#">
                <div id="section-nav-filter">
                    <span>Ver mais</span>
                </div>
            </a>
        </div>
        <div class="trending-carrousel">
            {% for Building in buildings %}
            {% if Building.vacant > 0 %}
            <a class="card-link" href="{% url 'building_detail' Building.id %}">
                <div class="card">
                    <img class="card-image" src="{{Building|get_property_image}}" alt="img-card">
                    <p class="card-title">{{Building.name}}</p>
                    <p class="card-subtitle">{{Building.city}}</p>
                    <div class="card-info">
                    <img src="{% static 'images/building 1.png' %}" alt="" class="card-icon">
                    {% if Building.vacant > 1 %}
                    <p class="card-text2">{{Building.vacant}} apartamentos disponíveis</p>
                    {% else %}
                    <p class="card-text2">{{Building.vacant}} apartamento disponível</p>
                    {% endif %}
                    </div>
                    <p class="card-text" style="margin-top: 5px;">A partir de <strong>R$ {{House.base_price}}</strong></p>
                </div>
            </a>
            {% endif %}
            <br>
            {% endfor %}
        </div>        
    </section>
{% endblock %}