{% extends 'base.html' %} {% block title %}{{title}}{% endblock %} 
{% load static %}
{% load util %}
{% block extrahead %} 
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block content%} 
    <div id="main-poster" >
        <div id="main-poster-title">
            <h4>Gerencie e anuncie seu imóvel </h4>
                <br />
            <h4>da melhor forma</h4>
            <br />
            <div id="main-poster-btn">
                <a href="/customer" id="main-poster-button" class="btn btn-primary">Acesse suas propriedades</a>
            </div>
        </div>
    </div>
    <section class="section_card">
        <br>
        <div class="container">
            <h2 class="lead" id="section-main-title">ENCONTRE SUA CASA PARA MORAR</h2>
            <hr />
        </div>
        <div class="container" id="section-nav" style="justify-content: end;">
                <a class="seemore-link" href="{% url 'all_houses' %}">
                    <div id="section-nav-filter">
                        <span>Ver mais</span>
                    </div>
                </a>
            </div>
        </div>
        <br>
        <div class="trending-carrousel">
            {% for House in houses %}
            {% if House.vacant == True%}
            <a class="card-link" href="{% url 'house_detail' House.id %}">
                <div class="card">
                    <img class="card-image" src="{{House|get_property_image}}" alt="img-card">  
                    <p class="card-title">{{House.city}}</p>
                    <p class="card-subtitle">Casa</p>
                    <div class="card-info">
                        <div class="icon-container">
                            <img src="{% static 'images/image 6.png' %}" alt="" class="card-icon">
                            <p class="card-text-icon">{{House.rooms}}</p>
                        </div>
                        <div class="icon-container">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-rulers" viewBox="0 0 16 16">
                                <path d="M1 0a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h5v-1H2v-1h4v-1H4v-1h2v-1H2v-1h4V9H4V8h2V7H2V6h4V2h1v4h1V4h1v2h1V2h1v4h1V4h1v2h1V2h1v4h1V1a1 1 0 0 0-1-1H1z"/>
                            </svg>
                            <p class="card-text-icon">{{House.area}}m²</p>
                        </div>
                    </div>
                    <p class="card-price"><strong>R$ {{House.base_price}}</strong> por mês</p>
                </div>
            </a>
            {% endif %}
            {% endfor %}
        </div>
        <br>
        <div class="container">
            <h2 class="lead" id="section-main-title">OU SEU NOVO APARTAMENTO</h2>
            <hr />
        </div>
        <div class="container" id="section-nav">
            <a class="seemore-link" href="/all_buildings">
                <div id="section-nav-filter">
                    <span>Ver mais</span>
                </div>
            </a>
        </div>
        <div class="trending-carrousel">
            {% for Building in buildings %}
            {% if Building.vacant > 0 %}
            <a class="card-link" href="{% url 'building_detail' Building.id %}">
                <div class="card">
                    <img class="card-image" src="{{Building|get_property_image}}" alt="img-card">
                    <p class="card-title">{{Building.name}}</p>
                    <p class="card-subtitle">{{Building.city}}</p>
                    <div class="card-info">
                        <div class="icon-container">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-building" viewBox="0 0 16 16">
                                <path d="M4 2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1ZM4 5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM7.5 5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM4.5 8a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Z"/>
                                <path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V1Zm11 0H3v14h3v-2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5V15h3V1Z"/>
                            </svg>
                            {% if Building.vacant > 1 %}
                            <p class="card-text2">{{Building.vacant}} apartamentos disponíveis</p>
                            {% else %}
                            <p class="card-text2">{{Building.vacant}} apartamento disponível</p>
                            {% endif %}
                        </div>
                    </div>
                    <p class="card-price" >A partir de <strong>R$ {{Building.min_price.base_price}}</strong></p>
                </div>
            </a>
            {% endif %}
            {% endfor %}
        </div>        
    </section>
{% endblock %}