section{
    padding-top: 1em;
}

#section-main-title{
    letter-spacing: 0.1em;
    font-size: 1.2em;
    font-weight: 600;
    color: #27374D;
    text-transform: uppercase;
    text-align: center;
}

#section-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

#section-nav-filter{
    border: 0.5px solid #27374D;
    border-radius: 50px;
    padding: 0.5em 1em 0.5em 1em;
    transition: 0.3s;  
}

#section-nav-filter:hover{
    background-color: #132a3b;
    color: #d9d9d9;
}
.seemore-link{
    color: #27374D;
    text-decoration: none;
    transition: 0.3s; 
}

#section-search-form{
    border: 0.5px solid #27374D;
    padding: 0.5em ;
    border-radius: 50px;
    background-color: #d9d9d9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}
#section-search-btn{
    border: none;
    background-color: #d9d9d9;
}

#section-search-input{
    border: none;
    width: 100%;
    font-size: 1em;
    letter-spacing: 0.1em;
    background-color: #d9d9d9;
    color: #27374D;
}

#section-search-input:focus{
    outline: none;
}

.modal {
    visibility: hidden;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, 0.7);
    transition: all 0.4s;
  }
  
  .modal:target {
    visibility: visible;
    opacity: 1;
  }

  .content {
    border-radius: 4px;
    position: relative;
    width: 500px;
    max-width: 90%;
    background: #fff;
    padding: 1em 2em;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #585858;
    text-decoration: none;
  }
  
  #modal-main-container {
    background-image: linear-gradient(#222121, #2f2e41);
    border-radius: 10px;
    color: #ffff;
    padding: 3%;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 500ms linear;
  }
  
  .modal_content > p > a {
    color: #ffff;
    text-decoration: none;
  }