
#main > h4{
    font-family: 'Popins', sans-serif;
    font-size: 2rem;
    padding-top: 2rem;
    letter-spacing: 2px;
}

.icon{
    color: #132a3b;
    text-decoration: none;
}

.icon:hover{
    color: #27374D;
}

a:hover{
    color: #132a3b;
}

#main-infos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
}

.info-card {
    margin: 1rem;
    width: 18rem;
    border: none;
    border-radius: 10px;
    box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.526);
    transition: all 0.2s ease-in-out;
}

.info-card:hover{
    transform: scale(1.02);
}

.card-t{
    color: #fff;
}

.card-text1{
    color: #fff;
}

#property{
    padding: 0;
    height: 170px;
    background-color: #f3f3f3;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.526);
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
}   

#property:hover{
    transform: scale(1.01);
}

.card-img{
    object-fit: fil;
    width: 100%;
    height: 170px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.card-text{
    font-size: 0.8rem;
    font-weight: 600;
    color: #132a3b;
}

.title{
    width: 100%;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#dropdownMenuButton {
    margin-bottom: 1em;
    border: none;
    background-color: #27374D;
    color: #fff;
    padding: 1em;
    border-radius: 50px;
    font-size: 1em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-top: 1em;
}

#dropdownMenuButton:hover{
    background-color: #132a3b;
}

#properties-infos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.status-span{
    border-radius: 30px;
    padding: 0.5rem 1rem 0.5rem 1rem;
}


a{
    text-decoration: none;
    color: #132a3b;
}

a:hover{
    color: #70767e;
}