#detail-image{
    height: 300px; 
    border-radius: 15px;
    object-fit: cover;
    width: 100%;
    display: flex;
}

#property-offers-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

#image-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

#property-infos{
    width: 80%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
}

#property-description{
    width: 350px;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.property-offers-container{
    display: flex;
    margin: 0 2rem 0 2rem;
    align-items: space-between;
    justify-content: space-between;
}

#property-offers-section{
    transition: all 0.3s ease-in-out;
    border: 0.5px solid; 
    border-radius: 20px; 
    padding: 1rem;
}

#property-offers-section:hover{
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    transform: scale(1.01);
}

