{% extends 'base.html' %} {% block title %}{{title}}{% endblock %} 
{% load static %}
{% load util %}
{% block extrahead %} 
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}
{% block content%}
<div class="container-fluid">
    <div class="container">
        <div class="form-image">
            <img src="{% static 'images\undraw_sync_files_re_ws4c (1).svg' %}" alt="img" style="width: 70%;">
        </div>
        <div class="form">
            <div class="input-group">
                <div class="row" style="padding: 1rem;">
                    <div class="col-md-1" style="width: 3%;">
                        <a class="icon" onclick="history.back()"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="icon" class="bi bi-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                        </svg></a>
                    </div>
                    {% if not contract.id %}
                    <div class="col-md-10" style="margin-left: 0.5rem;">
                        <div class="form-title">
                            <h4>Cadastrar contrato</h4  >
                        </div>
                    </div>
                    {% else %}
                    <div class="col-md-10" style="margin-left: 0.5rem;">
                        <div class="form-title">
                            <h4>Editar contrato</h4  >
                        </div>
                    </div>
                    {% endif %}
                </div>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="contract_file">Arquivo:</label>
                        <input class="form-control" style="border-radius: 10px;" accept="application/pdf" type="file" name="contract_file" id="contract_file">
                        <p style="margin-top: 0.5rem; opacity: 90%; font-size: small;" >Somente PDF</p>
                        {% if contract %}
                        <p style="opacity: 90%; font-size: small;">
                        <b>Arquivo atual:</b> {{contract.contract_file.name|split_contract_name}}</p>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="contract_type">Nome do inquilino:</label>
                        <input class="input" type="text" name="tenant_name" id="tenant_name" value="{{contract.tenant_name}}">
                    </div>
                    <div class="form-group">
                        <label for="contract_type">Número do inquilino:</label>
                        <div class="group">
                            <svg class="icon2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" stroke="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                            <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                            </svg>
                            <input type="tel" class="input_icon" id="tenant_phone" name="tenant_phone" value="{{contract.tenant_phone}}" placeholder="(xx) xxxxxxxxx">
                        </div>
                    </div>
                    <div class="form-group" style="display: flex; flex-direction: row; justify-content: space-between;">
                        <div class="form-group" style="width: 50%; display: flex; flex-direction: column;">
                            <label for="base_payment_date">Data base de pagamento</label>
                            <input class="input" type="date" name="base_payment_date" id="base_payment_date" value="{% if contract.base_payment_date %}{{ contract.base_payment_date|date:'Y-m-d' }}{% endif %}">
                        </div>
                        <div class="form-group" style="width: 45%; display: flex; flex-direction: column;">
                            <label for="due_date">Expiração do contrato</label>
                            <input class="input" type="date" name="due_date" id="due_date" value="{% if contract.due_date %}{{ contract.due_date|date:'Y-m-d' }}{% endif %}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="price">Preço (R$)</label>
                        <input class="input" type="number" name="price" id="price" value="{{contract.price|floatformat }}" >
                    </div>
                    <br>
                    <div class="form-group">
                        <button class="contract-button" type="submit">Concluir</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}