{% extends 'base.html' %} {% block title %}{{title}}{% endblock %} 
{% load static %}
{% load util %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock %}
{% block content%}
<section style="padding-top: 1rem;">
    <div class="container">
        <h4>{{building.name}}</h4>
        <p class="text-muted">{{building.address}}</p>
    </div>
    <div class="container" id="detail-images">
        <div class="row">
            <div class="col-md-8">
                <div style="display: flex; ">
                    <img style="flex: 1;" id="detail-image"  src="{{building|get_property_image}}" alt="">
                </div>
            </div>
            <div class="col-md-4" >
                    <div>
                        <img id="detail-image"  src="{{building|get_property_image}}" alt="">
                    </div>
            </div>
        </div>
    </div>
        <div class="container" style="margin-top: 1rem;">
            
        </div>
</section>
{% endblock %}