{% extends 'base.html' %} {% block title %}{{title}}{% endblock %} 
{% load static %}
{% load util %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/customer_home.css' %}">
{% endblock %}
{% block content%} 
    <div class="container" style="padding-bottom: 2%;" id="main">
        <h4>Olá, {{request.user}}</h4>
        <section id="main-infos">
            <div class="info-card" style="background-image: linear-gradient(to left, #0637736f, #063773b9, #01479b);" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                <div class="card-body">
                  <h5 class="card-t">Total de imóveis</h5>  
                  <h4 class="card-text1" style="text-align: center; font-size: larger; padding: 5%;">{{properties_amount}}</h4>
                </div>
              </div>
            <div class="info-card" style="background-image: linear-gradient(to right, #57B657, #57B657b2, #57B6574d);">
                <div class="card-body">
                    <h5 class="card-t">Ocupados</h5>  
                    <h4 class="card-text1" style="text-align: center; font-size: larger; padding: 5%;">{{occupied_properties_amount}}</h4>
                </div>
            </div>
            <div class="info-card" style="background-image: linear-gradient(to right, #B15959, #B15959b2, #B159594d);">
                <div class="card-body">
                    <h5 class="card-t">Atrasados</h5>  
                    <h4 class="card-text1" style="text-align: center; font-size: larger; padding: 5%;">{{late_payments_amount}}</h4>
                </div>
            </div>
        </section>
        <hr />
        <section id="properties_list">
            <div class="title">
                <h4>Suas Propriedades</h4>
                <div class="dropdown">
                  <a id="dropdownMenuButton" class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Cadastrar
                  </a>
                  <div id="dropdown-content" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Casa</a>
                    <a class="dropdown-item" href="#">Prédio</a>
                  </div>
                </div>
              
            </div>
            
            {% if properties_list %}
                <div style="display: flex; flex-direction: column; justify-content: space-between;">
                  {% for property in properties_list %}
                    {% if property|get_house_instance %}
                    <div style="margin-bottom: 1rem; margin-top: 1rem;" >
                      <a href="house_payments_history/{{property.id}}" style="text-decoration: none; color: black;">
                        <div class="container-fluid" id="property">
                          <div class="row">
                            <div class="col-3">
                              <img src="{{property.image.url}}" alt="house" class="card-img">
                            </div>
                            <div class="col-6" style="display: flex; flex-direction: column; align-items: flex-start; justify-content: space-between; margin-top: 1rem;">
                              <div class="row">
                                <div class="col-12">
                                  <h5>{{property}}</h5>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-12">
                                  <p>{{property.address}}</p>
                                </div>
                              </div>
                              <br>
                              <div class="row" style="margin-bottom: 1rem;">
                                <div class="col-12">
                                  {% if property.vacant %}
                                  <p class="card-text">
                                      Casa vazia
                                    </p>
                                    {% else %}
                                    <p class="card-text" style="text-align: left; font-weight: 400;">
                                      Pagamento mensal: R${{property.contracts.price}}
                                    </p>
                                      <p class="card-text" style="font-weight: 400;">
                                        Data de expiração: {{property.contracts.due_date}}
                                      </p>
                                    {% endif %}
                                </div>
                            </div>
                          </div>
                          <div class="col-3" style="display: flex; align-items: end; justify-content: end; margin-bottom: 0.5rem; ">
                            <div class="row">
                              <div class="col-12" >
                                <p style="text-align: left; margin-right: 1rem;">
                                  {% if property.late_payment %}
                                  <span style="border: solid; border-color: #B15959; border-width: 2px;" class="status-span">
                                    Atrasado
                                  </span>
                                  {% else %}
                                  <span style="border: solid; border-color: #57B657; border-width: 2px;" class="status-span">
                                    Em dia
                                  </span>
                                  {% endif %}
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    {% else %}
                    <div style="margin-top: 1rem; margin-bottom: 1rem;">
                      <a href="apartment_payments_history/{{property.id}}" style="text-decoration: none; color: black;">
                        <div class="container-fluid" id="property">
                          <div class="row">
                            <div class="col-3">
                              <img src="{{property.image.url}}" alt="building" class="card-img">
                            </div>
                            <div class="col-6" style="display: flex; flex-direction: column; align-items: flex-start; justify-content: space-between; margin-top: 1rem;">
                              <div class="row">
                                <div class="col-12">
                                  <h5>{{property}}</h5>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-12">
                                  <p>{{property.address}}</p>
                                </div>
                              </div>

                              <div class="row" style="margin-bottom: 1rem;">
                                <div class="col-12">
                                  <p class="card-text" style="font-weight: 400;"> {{property.apartments}} apartamento(s)</p>
                                  <p class="card-text" style="text-align: left; font-weight: 400;">
                                    {{property.apartments_occupied}} ocupado(s)
                                  </p>
                                </div>
                            </div>
                          </div>
                          <div class="col-3" style="display: flex; align-items: end; justify-content: end; margin-bottom: 0.5rem;">
                            <div class="row">
                              <div class="col-12" >
                                <p style="text-align: left; margin-right: 1rem;">
                                  {% if property.apartments_late_payments %}
                                  <span style="border: solid; border-color: #B15959; border-width: 2px;" class="status-span">
                                    {{property.apartments_late_payments}} atrasado(s)
                                  </span>
                                  {% else %}
                                  <span style="border: solid; border-color: #57B657; border-width: 2px;" class="status-span">
                                    0 atrasados
                                  </span>
                                  {% endif %}
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    {% endif %}
                {% endfor %}
                </div>
            {% else %}
            <p>Você ainda não possui nenhuma propriedade cadastrada.</p>
            {% endif %}
        </section>
    </div>
{% endblock %}