{% extends 'base.html' %} {% block title %}{{title}}{% endblock %} 
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/customer_home.css' %}">
{% endblock %}
{% block content%} 
    <div class="container" id="main">
        <h4>Olá, {{request.user}}</h4>
        <div id="main-infos">
            <div class="card">
                <div class="card-body">
                  <h5 >Total de imóveis</h5>  
                  <h4 class="card-text" style="text-align: center; padding: 5%;">2</h4>
                </div>
              </div>
            <div class="card">
                <div class="card-body">
                    <h5 >Ocupados</h5>  
                    <h4 class="card-text" style="text-align: center; padding: 5%;">2</h4>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 >Atrasados</h5>  
                    <h4 class="card-text" style="text-align: center; padding: 5%;">2</h4>
                </div>
            </div>
        </div>
        <hr />
    </div>
{% endblock %}