{% extends 'base.html' %} {% block title %}{{title}}{% endblock %} 
{% load static %}
{% block extrahead %} 
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}
{% block content%}
<div class="container-fluid">
    <div class="container">
        <div class="form-image">
            <img src="{% static 'images\undraw_data_reports_706v.svg' %}" alt="img" style="width: 70%;">
        </div>
        <div class="form">
            <div class="input-group">
                <div class="row" style="padding: 1rem; width: 100%;">
                    <div class="col-md-0" style="width: 3%;">
                        <a class="icon" onclick="history.back()"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="icon" class="bi bi-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                        </svg></a>
                    </div>
                    <div class="col-md-10" style="margin-left: 0.5rem;">
                        <div class="form-title">
                            <h5>Cadastro de pagamento</h5>
                        </div>
                    </div>
                </div>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="date">Data:</label>
                        <input class="input" type="date" name="date" id="date" value="{% if payment.date %}{{ payment.date|date:'Y-m-d' }}{% endif %}">
                    </div>
                    <div class="form-group">
                        <label for="base_payment_month">Mês referente</label>
                        <input class="input" type="number" name="base_payment_month" id="base_payment_month" value="{{payment.base_payment_month}}">
                    </div>
                    <div class="form-group">
                        <label for="value">Preço (R$)</label>
                        <input class="input" type="number" name="value" id="value"  value="{{payment.value|floatformat }}">
                    </div>
                    <br>
                    <div class="form-group">
                        <button class="contract-button" type="submit">Concluir</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}